
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<script type="text/javascript">

    var baseUrl = "https://api.themoviedb.org/3/";
    var currentdata;
    $(function (){
        //accordeon
        $('.genre-accordeon').on('click', function () {
            $(this).toggleClass('active');
            $(this).next().slideToggle();
        });
        getGenre();
        getMovieByCategories('now_playing');
       
    });



    $("#searchMovie").keypress(function (e) {
        if (e.keyCode == 13) {
            getMovies();
        }
    });

    $('.shop-grid-controls select').on('change', function () {
        getResult(currentdata);
    })

    function getMovies()
    {
        var surl = baseUrl + "search/movie?api_key=aa646e218fda2ff0dfcd4d3a3cb55e37&language=en-US/&query=" + $("#searchMovie").val() + "&page=1&include_adult=false";
        $.ajax({
            type: 'GET',
            url: surl,
            crossDomain: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
               getResult(data);
            },
            error: function (xhr, status, error) { alert(error); },
            async: false,
            cache: false
        });

    }

    function getGenre() {
        var surl = baseUrl +"genre/movie/list?api_key=aa646e218fda2ff0dfcd4d3a3cb55e37&language=en-US";
        $.ajax({
            type: 'GET',
            url: surl,
            crossDomain: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.genres.length; i++) {
                    $("#genreDiv ul").append('<li id="' + data.genres[i].id + '" onclick="getMoviesByGenre(event)">' + data.genres[i].name + '</li>');
                }
            },
            error: function (xhr, status, error) { alert(error); },
            async: false,
            cache: false
        });
    }

    function getMoviesByGenre(e) {
        var selectedGenre = e.currentTarget.id;
        var url = baseUrl+"genre/"+selectedGenre+"/movies?api_key=aa646e218fda2ff0dfcd4d3a3cb55e37&language=en-US&include_adult=false&sort_by=created_at.asc";
       
        $.ajax({
            type: 'GET',
            url: url,
            crossDomain: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                getResult(data);
            },
            error: function (xhr, status, error) { alert(error); },
            async: false,
            cache: false
        });
    }

    function getMovieByCategories(ctg) {
        console.log(ctg);
        var url = baseUrl + "movie/" + ctg + "?api_key=aa646e218fda2ff0dfcd4d3a3cb55e37&language=en-US&page=1";

        $.ajax({
            type: 'GET',
            url: url,
            crossDomain: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                getResult(data);
            },
            error: function (xhr, status, error) { alert(error); },
            async: false,
            cache: false
        });
    }

    function getResult(data)
    {
        currentdata = data;
        var sortOptions = $("#drpdownSortBy option:selected").text();
        if (sortOptions == "Rating")
        {
            data.results.sort(sortUsingRating);
        }
        else if (sortOptions == "Release Date")
        {
            data.results.sort(sortUsingDate);
        }
        $('#Result .row .shop-grid-item').remove();
        for (var i = 0; i < data.results.length; i++) {
            if (data.results[i].poster_path != null) {
                $("#Result .row").append(`
                      <div class="col-md-3 col-sm-4 shop-grid-item">
                      <div class="product-slide-entry">
                      <div class="product-image">
                      <img alt="" src="https://image.tmdb.org/t/p/w500` + data.results[i].poster_path + `"> 
                      </div>
                      <a class="tag" href="#">Genre</a>
                      <a class="title" href="#">`+ data.results[i].title + `</a>
                      <div class="rating-box">
                        <div class="star"><i class="fa fa-star"></i></div>
                        <div class="star"><i class="fa fa-star"></i></div>
                        <div class="star"><i class="fa fa-star"></i></div>
                        <div class="star"><i class="fa fa-star"></i></div>
                        <div class="star"><i class="fa fa-star"></i></div>
                        <div class="star">`+ data.results[i].vote_average + `</div>
                      </div>
                    <div class="article-container style-1" >
                    <p>Release Date:-`+ data.results[i].release_date + `</p>
                    <p> </p>
                    </div>
                  <div class="list-buttons">
                     <a class="button style-10">Add to cart</a>
                     <a class="button style-11"><i class="fa fa-heart"></i> Add to Wishlist</a>
                   </div>
                 </div>
                <div class="clear"></div>
             </div>
            `);
            }
           
        }
    }

    function sortUsingRating(a, b) {
        
        if (parseFloat(a.vote_average) < parseFloat(b.vote_average))
            return 1;
        if (parseFloat(a.vote_average) > parseFloat(b.vote_average))
            return -1;

        return 0;
    }
    

    function sortUsingDate(a, b) {
         if (new Date(a.release_date) < new Date(b.release_date))
            return 1;
        if (new Date(a.release_date) > new Date(b.release_date))
            return -1;
        return 0;
    }
    
</script>
<div id="Result">
    <div class="row">
      
    </div>
</div>